{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

    <!-- header  -->
{% block header %}{% include 'header.html' %}{% endblock %}
    <!-- header done  -->
    <!-- container  -->

      <!-- banner  -->
{% block banner %}{% include 'banner.html' %}{% endblock %}
    <!-- banner done  -->

    <!-- carousel -->
{% block carousel %}{% include 'carousel.html' %}{% endblock %}
    <!-- carousel done  -->


    <!-- container done  -->

    <!-- footer  -->
{% block footer %}{% include 'footer.html' %}{% endblock %}
    <!-- footer done  -->