{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}Signup{% endblock %}

{% block header %}
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="{{ url_for ('index') }}" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <img src="{{ url_for ('static', filename='img/logo.jpg') }}" height="70px" alt="">
            <h5>Legit News</h5>
        </a>

        <div class="col-md-3 text-end">
          <button type="button" class="btn btn-primary"><a href="{{ url_for ('login') }}">Login</a></button>
        </div>
    </header>
</div>
{% endblock %}

<!-- signup form  -->
{% block content %}
<div class="container">
  <form class="form-signup" method="POST" action="/signup">
    
    <h1 class="h3 mb-3 fw-normal">Sign Up Here</h1>
    {{ form.hidden_tag() }}
    <div class="row">
      <div class="col-md-6">
        <div class="form-floating">
          {{ wtf.form_field(form.first_name) }}
        </div>
        <br>
      </div>
      <div class="col-md-6">
        <div class="form-floating">
          {{ wtf.form_field(form.last_name) }}
        </div>
        <br>
      </div>
      <div class="form-group">
        <div class="form-floating">
          {{ wtf.form_field(form.email) }}
        </div>
        <br>
      </div>
      <div class="form-group">
        <div class="form-floating">
          {{ wtf.form_field(form.password) }}
        </div>
        <br>
      </div>
      <div class="but">
        <input type="submit" class="btn btn-secondary btn-lg value="Signup">
      </div>
    </div>    
  </form>
</div>
{% endblock content %}


<!-- signup form done  -->





{% block footer %}{% include 'footer.html' %}{% endblock %}